.headerContainer {
    grid-area: h;
    background-color: #212020;
}

.headerContainer img {
    width: 50px;
    height: 50px;
    margin: 25px 30px;
}

.loginBlock {
    float: right;
    cursor: pointer;
    color: white;
    margin-top: 10px;
    margin-right: 10px;
}

.loginBlock a {
    color: white;
    text-decoration: none;
}




